<div>
    <% for(var i=0; i < data.length; i++) { %>
        <div>
            <span>
                <%= data[i]['name'] %>
            </span>
            <span>
                <%= data[i]['inquiryReceived'] %>
            </span>
            <span>
                <%= data[i]['lastActivity'] %>
            </span>
        </div>
    <% } %>
</div>
